@import "../../shared/styles/colors.scss";

.panel {
    width: 100%;
    border: .2rem dashed $text-color;
    padding: 1rem;
    background-color: $main-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}