@import "../../shared/styles/colors.scss";

.form{
  width: 100%;
  max-width: 540px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $main-color;

  .form_label {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    color: $text-color;

    & > * {
      margin-top: .5rem;
    }

    input {
      height: 1.8rem;
      color: $main-color;
      padding: 0 .5rem;

      &:focus {
        outline: .2rem solid $acsent-color;
      }

    }
  }
}

.error {
  height: 1.5rem;
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
  color: $text-color;
  background-color: $acsent-color;
}