@import "../../shared//styles/colors.scss";
@import "../../shared//styles/fonts.scss";

.bar {
    height: 100%;
    position: relative;
    .bar__wrapper {
        width: 0;
        max-width: 0;
        height: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        background-color: $main-color;
        overflow: hidden;
        animation: close 200ms ease-out forwards;
        &.active {
            animation: open 200ms ease-in forwards;
        }
        .bar__title {
            @include item-font;
            text-align: center;
        }
        .bar__content{
            flex-grow: 1;
            .bar__list {
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .bar__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-basis: 33.33%;
                    flex-grow: 0;
                }
            }
        }
    }
    .bar__button {
        height: 2rem;
        width: 2rem;
        border: 0.2rem dashed $text-color;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        @include default-font;
        background-color: $acsent-color;

    }
    
}

@keyframes open {
    0% {
        width: 0;
    }
    10% {
        border: 0.2rem dashed $text-color;
        padding: 0.5rem;
    }
    20% {
        min-width: 2rem;
        width: 100%;
    }
    60% {
        min-width: 9rem;
        width: 100%;
    }
    100% {
        min-width: 10rem;
        width: 100%;
        border: 0.2rem dashed $text-color;
        padding: 0.5rem;
    }
}

@keyframes close {
    0% {
        min-width: 10rem;
        width: 100%;
        border: 0.2rem dashed $text-color;
        padding: 0.5rem;
    }
    40% {
        min-width: 4rem;
        width: 100%;
        border: 0.2rem dashed $text-color;
        padding: 0.5rem;
    }
    90% {
        border: 0;
        padding: 0;
    }
    100% {
        width: 0;
    }
}