@import "../../shared/styles/colors.scss";

.select {
  width: 100%;
  .select__wrapper {
    width: 100%;
    position: relative;
    .select__button {
      width: 100%;
      height: 1.8rem;
      border: .15rem solid $text-color;
      padding: 0 .5rem;
      background-color: $main-color;
      font-size: 1rem;
      font-weight: 500;
      color: $text-color;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover,
      &:focus {
        background-color: $text-color;
        color: $main-color;
        &::after {
          border-color: $main-color transparent transparent transparent;
        }
      }
      
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .8rem .4rem 0 .4rem;
        border-color: $text-color transparent transparent transparent;
        margin-left: auto;
        animation: rotate-arrow-down 250ms forwards;
      }

      &.open {
        &::after {
          animation: rotate-arrow-up 250ms forwards;
        }
      }
    }
    .select__list {
      display: none;
      width: 100%;
      border: .15rem solid $dark-main-color;
      position: absolute;
      top: 2rem;
      left: 0;
      &.show {
        display: block;
        z-index: 1;
      }
      .select__item {
        width: 100%;
        height: 1.8rem;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        background-color: $text-color;
        font-size: 1rem;
        font-weight: 500;
        color: $dark-main-color;
        &:not(:first-child) {
          border-top: .15rem solid $dark-main-color;
        }
        &.selected {          
          &::after {
            content: "selected";
            font-size: 1rem;
            font-weight: 600;
            color: $dark-main-color;
            margin-left: auto;
          }
        }
        &.cursor {
          background-color: $second-color;
        }
      }
    }
  }
}

// select arrow animation
@keyframes rotate-arrow-up {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

@keyframes rotate-arrow-down {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0turn);
  }
}