.item {
  position: relative;
  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .item__content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}