@import "../../../shared//styles//colors.scss";
@import "../../../shared//styles//fonts.scss";


.add-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .add-item__icon {
        padding: .5rem;
        @include title-font;
    }
    .add-item__text {
        padding: .5rem;
        @include default-font;
    }
}