@import "../../shared/styles/colors.scss";
@import "../../shared/styles/fonts.scss";


.header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header__center{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		@include logo-font;
		text-decoration: none;
		flex-basis: 33.3%;
	}
	.header__left {
		display: flex;
		align-items: center;
		flex-basis: 33.3%;
	}
	.header__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 33.3%;
		button {
			margin-right: .5rem;
		}
	}
}


.game-state {
	.game-state__element {
		display: flex;
		align-items: center;
		text-decoration: none;
		&:not(:first-child) {
			margin-left: .5rem;
		}
		@include default-font;
		.game-state__icon {
			display: block;
			height: .8rem;
			width: .8rem;
			background-size: contain;
			background-position: center;
			&._bag {
				height: 1rem;
				width: 1rem;
				background-image: url("./icon/bag.png");
			}
		}
		i {
			margin-right: .5rem;
		}
		&.active {
			animation: state-active  400ms ease;
			.game-state__icon {
				&._bag {
					animation: bag-icon-active  400ms ease;
				}
			}
		}
		&._link:hover,
		&._link:focus {
			color: $acsent-color;
			.game-state__icon {
				transform: scale(1.1);
				&._bag {
					background-image: url("./icon/bag_active.png");
				}
			}
		}
	}
}


@keyframes state-active {
	0% {
		color: $acsent-color;
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		color: $text-color;
		transform: scale(1.0);
	}
}

@keyframes bag-icon-active {	
	0% {
		background-image: url("./icon/bag.png");
	}
	50% {
		
		background-image: url("./icon/bag_active.png");
	}
	100% {
		background-image: url("./icon/bag.png");
	}
}