@import "../../shared/styles/colors.scss";
@import "../../shared/styles/fonts.scss";

.navigation {
  .navigation__list {
    display: flex;
    .navigation__item {
      a {
        @include default-font;
        text-decoration: none;
      }
      &:not(:first-child) {
        margin-left: .5rem;
      }
    }
  }
}